{% extends "layouts/mf6.html" %}

{% block content %}
<!-- Hero -->
<section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
    <div class="h100 d-flex align-items-center justify-content-center">
        <div class="col-4">
          <div class="text-center pb-4">
            <h2>
                Add Project
            </h2>
          </div>
				<form method=POST>
					{% csrf_token %}
					{{ form.as_p}}
					<button type="submit" class="btn btn-secondary">Upload</button>					
				</form>
        </div>
    </div>
</section>


{% endblock %}
