        <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
            <a class="navbar-brand me-lg-5" href="/">
                <img class="navbar-brand-dark" src="{{ ASSETS_ROOT }}/img/brand/light.svg" alt="Volt logo" /> <img class="navbar-brand-light" src="{{ ASSETS_ROOT }}/img/brand/dark.svg" alt="Volt logo" />
            </a>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>

<!-- Tupac logo -->
          <div class="sidebar-inner px-4 pt-3">
            <div class="text-center pt-4 pb-4">
              <a href="{% url 'mf6-home' %}"><img src="{{ ASSETS_ROOT }}/img/illustrations/tupacCloudLogo.svg" class="img-fluid"  alt="Tupac Cloud" width="180" height="120"></a>
            </div>

<!-- Discretization side bar -->
            <ul class="nav flex-column pt-3 pt-md-0">
              <!-- Discretization side bar -->
              <li class="nav-item dropdown">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#discretization-pages">
                  <span>
                    <span class="sidebar-icon">
                      <img src="{{ ASSETS_ROOT }}/img/icons/mesh.svg" alt="Volt logo" width="20" height="20">
                    </span>
                    <span class="sidebar-text">Discretization</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="collapse mx-4" role="list"
                  id="discretization-pages" aria-expanded="false">
                  <ul class="flex-column nav">
                    <li class="nav-item">
                      <span
                        class="nav-link d-flex justify-content-start"
                        data-bs-toggle="collapse" data-bs-target="#horizontal-pages">
                        <span>
                          <span class="text-secondary sidebar-text">Horizontal</span>
                        </span>
                        <span class="text-secondary link-arrow mx-2">
                          <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </span>
                      </span>
                      <div class="collapse mx-4" role="list"
                        id="horizontal-pages" aria-expanded="false">
                        <ul class="flex-column nav">
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'add-limit-layer' token=token %}">
                              <span class="sidebar-text text-secondary">Limit</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'refinement-layer-number' token=token %}">
                              <span class="sidebar-text text-secondary">Refinements</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'voronoi-mesh-generation' token=token %}">
                              <span class="sidebar-text text-secondary">Mesh</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <span
                        class="nav-link  d-flex justify-content-start"
                        data-bs-toggle="collapse" data-bs-target="#vertical-pages">
                        <span>
                          <span class="text-secondary sidebar-text">Vertical</span>
                        </span>
                        <span class="text-secondary link-arrow mx-2">
                          <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </span>
                      </span>
                      <div class="collapse mx-4" role="list"
                        id="vertical-pages" aria-expanded="false">
                        <ul class="flex-column nav">
                           <li class="nav-item disabled">
                              <a class="nav-link" href="{% url 'vertical-layer-setup' token=token%}" >
                                <span class="text-secondary sidebar-text">Top</span>
                              </a>
                            </li>
                          <li class="nav-item disabled">
                            <a class="nav-link" href="{% url 'add-vertical-layer-by-raster' token=token%}">
                              <span class="text-secondary sidebar-text">Bottom</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                     <span
                       class="nav-link  d-flex justify-content-start"
                       data-bs-toggle="collapse" data-bs-target="#temporal-pages">
                       <span>
                         <span class="text-secondary sidebar-text">Temporal</span>
                       </span>
                       <span class="text-secondary link-arrow mx-2">
                         <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                       </span>
                     </span>
                     <div class="collapse mx-4" role="list"
                       id="temporal-pages" aria-expanded="false">
                       <ul class="flex-column nav">
                          <li class="nav-item disabled">
                             <a class="nav-link" href="{% url 'stress-period-number' token=token%}" >
                               <span class="text-secondary sidebar-text">Periods</span>
                             </a>
                           </li>
                         <li class="nav-item disabled">
                           <a class="nav-link" href="{% url 'stress-period' token=token%}">
                             <span class="text-secondary sidebar-text">Schedule</span>
                           </a>
                         </li>
                       </ul>
                     </div>
                   </li>
                  </ul>
                </div>
              </li>
              <!-- Model side bar -->
              <li class="nav-item dropdown">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#model-pages">
                  <span>
                    <span class="sidebar-icon">
                      <img src="{{ ASSETS_ROOT }}/img/icons/model.svg" alt="Volt logo" width="20" height="20">
                    </span>
                    <span class="sidebar-text">Model</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="collapse mx-4" role="list"
                  id="model-pages" aria-expanded="false">
                  <ul class="flex-column nav">
                    <!-- Setup side bar -->
                    <li class="nav-item">
                      <span
                        class="nav-link d-flex justify-content-start"
                        data-bs-toggle="collapse" data-bs-target="#setup-pages">
                        <span>
                          <span class="text-secondary sidebar-text">Setup</span>
                        </span>
                        <span class="text-secondary link-arrow mx-4">
                          <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </span>
                      </span>
                      <div class="collapse mx-4" role="list"
                        id="setup-pages" aria-expanded="false">
                        <ul class="flex-column nav">
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'gwf-npf' token=token %}">
                              <span class="sidebar-text text-secondary">K</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'sto' token=token %}">
                              <span class="sidebar-text text-secondary">Storage</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'ic' token=token%}">
                              <span class="sidebar-text text-secondary">Initial</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'ims' token=token %}">
                              <span class="sidebar-text text-secondary">Solver</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <!-- Setup side bar -->
                    <li class="nav-item">
                      <span
                        class="nav-link d-flex justify-content-start"
                        data-bs-toggle="collapse" data-bs-target="#boundaries-pages">
                        <span>
                          <span class="text-secondary sidebar-text">Boundaries</span>
                        </span>
                        <span class="text-secondary link-arrow mx-2">
                          <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </span>
                      </span>
                      <div class="collapse mx-4" role="list"
                        id="boundaries-pages" aria-expanded="false">
                        <ul class="flex-column nav">
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'wells-selection' token=token %}">
                              <span class="sidebar-text text-secondary">Wells</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'rivers-selection' token=token%}">
                              <span class="sidebar-text text-secondary">Rivers</span>
                            </a>
                          </li>

                          <li class="nav-item">
                            <span
                              class="nav-link d-flex justify-content-start"
                              data-bs-toggle="collapse" data-bs-target="#drain-pages">
                              <span>
                                <span class="text-secondary sidebar-text">Drains</span>
                              </span>
                              <span class="text-secondary link-arrow mx-2">
                                <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                              </span>
                            </span>
                            <div class="collapse mx-4" role="list"
                              id="drain-pages" aria-expanded="false">
                              <ul class="flex-column nav">
                                <li class="nav-item disabled">
                                  <a class="nav-link" href="{% url 'drains-selection' token=token%}">
                                    <span class="text-secondary sidebar-text">By elevation</span>
                                  </a>
                                </li>
                                <li class="nav-item disabled">
                                  <a class="nav-link" href="{% url 'drains-top-selection' token=token%}">
                                    <span class="text-secondary sidebar-text">By depth</span>
                                  </a>
                                </li>


                              </ul>
                            </div>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'ghb-selection' token=token%}">
                              <span class="sidebar-text text-secondary">GHB</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <!-- Rch-Evt side bar -->
                    <li class="nav-item">
                      <span
                        class="nav-link d-flex justify-content-start"
                        data-bs-toggle="collapse" data-bs-target="#rch-evt-pages">
                        <span>
                          <span class="text-secondary sidebar-text">Rch - Evt</span>
                        </span>
                        <span class="text-secondary link-arrow mx-2">
                          <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </span>
                      </span>
                      <div class="collapse mx-4" role="list"
                        id="rch-evt-pages" aria-expanded="false">
                        <ul class="flex-column nav">
                          <li class="nav-item disabled">
                            <a class="nav-link" href="{% url 'rch-upload' token=token%}">
                              <span class="text-secondary sidebar-text">Rch File</span>
                            </a>
                          </li>
                          <li class="nav-item disabled">
                            <a class="nav-link" href="{% url 'evt-upload' token=token%}">
                              <span class="text-secondary sidebar-text">Evt File</span>
                            </a>
                          </li>
                          <li class="nav-item disabled">
                            <a class="nav-link" href="{% url 'rch-selection' token=token%}">
                              <span class="text-secondary sidebar-text">Rch Rates</span>
                            </a>
                          </li>
                          <li class="nav-item disabled">
                            <a class="nav-link" href="{% url 'evt-selection' token=token%}">
                              <span class="text-secondary sidebar-text">Evt Rates</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item disabled">
                      <a class="nav-link" href="{% url 'model' token=token%}">
                        <span class="text-secondary sidebar-text">Run</span>
                      </a>
                    </li>

                    <!-- <li class="nav-item">
                      <span
                        class="nav-link d-flex justify-content-start"
                        data-bs-toggle="collapse" data-bs-target="#obs-pages">
                        <span>
                          <span class="text-secondary sidebar-text">Observations</span>
                        </span>
                        <span class="text-secondary link-arrow mx-2">
                          <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </span>
                      </span>
                      <div class="collapse mx-4" role="list"
                        id="obs-pages" aria-expanded="false">
                        <ul class="flex-column nav">
                          <li class="nav-item disabled">
                            <a class="nav-link" href="{% url 'obs' token=token%}">
                              <span class="text-secondary sidebar-text">OBS File</span>
                            </a>
                          </li>
                          <li class="nav-item disabled">
                            <a class="nav-link" href="{% url 'obs-data' token=token%}">
                              <span class="text-secondary sidebar-text">OBS Data</span>
                            </a>
                          </li>
                          <li class="nav-item disabled">
                            <a class="nav-link" href="{% url 'obs-selection' token=token%}">
                              <span class="text-secondary sidebar-text">OBS selection</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li> -->

                  </ul>
                </div>
              </li>
            </ul>

            <ul class="nav flex-column pt-3 pt-md-0">
               <!-- review this later -->
              <li class="nav-item">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#graphs-pages">
                  <span>
                    <span class="sidebar-icon">
                      <img src="{{ ASSETS_ROOT }}/img/icons/graph1.svg" alt="Volt logo" width="20" height="20">
                    </span>
                    <span class="sidebar-text">Graphs</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="collapse mx-4" role="list"
                  id="graphs-pages" aria-expanded="false">
                  <ul class="flex-column nav">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'balance' token=token %}">
                        <span class="text-secondary sidebar-text">Balance</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'heads-2d' token=token %}">
                        <span class="text-secondary sidebar-text">Heads</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'heads-geo' token=token %}">
                        <span class="text-secondary sidebar-text">Water table</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'section' token=token %}">
                        <span class="text-secondary sidebar-text">Sections</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>

              <li class="nav-item">
                <a href="/accounts/logout" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                        </svg>
                    </span>
                    <span class="sidebar-text">Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
